.heading {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    text-align: center;

    &-text {
        font-family: 'Great Vibes', cursive;
        font-size: size(xl) * 2;
        font-weight: lighter;
        letter-spacing: .5rem;
    }
}